/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $size-lg-max;
    width: calc(100% - 15%);
    margin: 0 auto;
}
